.list_container {
  padding: 5rem 2rem;
  min-height: 100vh;
}

.list {
  margin-top: 3rem;
  padding: 0 3rem;
}

.country_card {
  margin-bottom: 0.3rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
}

.country_card::hover {
  transform: scale(1.05);
}

.country_card img {
  width: 100%;
  display: block;
}

.info {
  padding: 2rem 2rem 3rem;
}

.info p {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.country_name {
  font-weight: 800;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .filters {
    display: flex;
    padding: 0 3rem;
  }
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-auto-rows: max-content;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
  }
}
