.filter {
  margin-top: 4rem;
  width: 20rem;
  max-width: 20rem;
  position: relative;
}

.filter svg {
  position: absolute;
  top: 50%;
  right: 2rem;
  font-size: 2rem;
  margin-top: -1rem;
  width: 2rem;
}

select {
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  padding: 1.5rem 2rem;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  outline: none;
  /* Firefox */
  -moz-appearance: none;
  /* Safari and Chrome */
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

select.dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 1024px) {
  .filter {
    margin-top: 0;
    margin-left: auto;
  }
}
