.country_details {
  padding: 5rem 5rem;
  max-width: 1440px;
  margin: 0 auto;
}

.back,
.back_dark {
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  width: 100px;
  border: none;
  border-radius: 0.4rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
}

.back {
  color: inherit;
  background-color: inherit;
}

.back_dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
}

ion-icon {
  font-size: 1.6rem;
  margin-right: 1rem;
  margin-top: -0.5rem;
  vertical-align: middle;
}

.details {
  margin-top: 5rem;
}

.country_details img {
  width: 100%;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
}

.country_details h2 {
  margin: 3rem 0;
  font-size: 2.2rem;
}

.country_details p {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
}

.extra_info,
.borders {
  margin-top: 3rem;
}

.border,
.border_dark {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-right: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 8px;
}

.border {
  margin-top: 1rem;
  background-color: inherit;
}

.border_dark {
  background-color: hsl(209, 23%, 22%);
  color: hsl(0, 0%, 100%);
  margin-top: 2rem;
}

@media screen and (min-width: 1024px) {
  .country_details img {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .country_details {
    padding: 5rem 5rem 0;
    height: 100vh;
  }

  .details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .info_group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .extra_info {
    margin-top: 0;
  }

  .flag {
    width: 80%;
  }
}
